@{
    ViewBag.Title = "Confirm Email";
}

<h2>Emaili doğrula.</h2>
<div>
    <p>
        emailinizi doğruladığınız için teşekkürler. Lütfen @Html.ActionLink("Giriş yapmak için buraya basın", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
